@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100px * 7));
  }
}

.pages-slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: auto;

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 12px;
    width: calc(100px * 14);
  }

  .slide {
    background-color: #0f0e0a;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 0.5rem;
    width: 100px;
  }
}

.rainbow-border {
  --angle: 0deg;
  border: 2px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.firebase-emulator-warning {
  display: none !important;
}
