@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100px * 7));
  }
}

.pages-slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: auto;

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 12px;
    width: calc(100px * 14);
  }

  .slide {
    background-color: #0f0e0a;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 0.5rem;
    width: 100px;
  }
}

/* YouTube Embed styling overrides */
.lty-playbtn {
  display: none !important;
}

.rainbow-border {
  --angle: 0deg;
  border: 2px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.firebase-emulator-warning {
  display: none !important;
}

/* Reference: https://github.com/tailwindlabs/tailwindcss/discussions/10190#discussioncomment-9206515 */
.input-search-icon[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: hsl(346.8 77.2% 49.8%);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18 17.94 6M18 18 6.06 6'/%3E%3C/svg%3E%0A");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: background-color 0.35s ease;
}
